@model SportsPro.Models.ViewModels.IncidentEditViewModel

@{
    string title = Model.OperationType + " Incident";
    ViewBag.Title = title;
}
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation.unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
}

<h1>@ViewBag.Title</h1>

<form asp-action="@Model.OperationType" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="CurrentIncident.CustomerID">Customer</label>
        <select asp-for="CurrentIncident.CustomerID" asp-items="@(new SelectList(Model.Customers, "CustomerID", "FullName"))" class="form-control">
            <option></option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="CurrentIncident.ProductID">Product</label>
        <select asp-for="CurrentIncident.ProductID" asp-items="@(new SelectList(Model.Products, "ProductID", "Name"))" class="form-control">
            <option></option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="CurrentIncident.Title"></label>
        <input asp-for="CurrentIncident.Title" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="CurrentIncident.Description"></label>
        <textarea asp-for="CurrentIncident.Description" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="CurrentIncident.TechnicianID">Technician</label>
        <select asp-for="CurrentIncident.TechnicianID" asp-items="@(new SelectList(Model.Technicians, "TechnicianID", "Name"))" class="form-control">
            <option>Assign a technician...</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="CurrentIncident.DateOpened"></label>
        <input asp-for="CurrentIncident.DateOpened" class="form-control" type="date" />
    </div>

    <div class="form-group">
        <label asp-for="CurrentIncident.DateClosed"></label>
        <input asp-for="CurrentIncident.DateClosed" class="form-control" type="date" />
    </div>

    <input asp-for="CurrentIncident.IncidentID" type="hidden" />

    <button type="submit" class="btn btn-primary">
        @(Model.OperationType == "Edit" ? "Save" : "Add")
    </button>
    <a asp-action="List" class="btn btn-primary">Cancel</a>
</form>
