@model List<SportsPro.Models.Customer>


@{
    ViewBag.Title = "Customer Registrations";
}

<h2>All Customers</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Country</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var customer in Model)
    {
        <tr>
            <td>@customer.FirstName @customer.LastName</td>
            <td>@customer.Email</td>
            <td>@customer.CountryID</td>
            <td>
                <a asp-controller="Customer" asp-action="AddEdit" asp-route-id="@customer.CustomerID" class="btn btn-sm btn-primary">Edit</a>
                <a asp-controller="Customer" asp-action="Delete" asp-route-id="@customer.CustomerID" class="btn btn-sm btn-danger">Delete</a>
                <a asp-controller="Registration" asp-action="List" asp-route-customerID="@customer.CustomerID" class="btn btn-sm btn-secondary">View Registrations</a>
            </td>
        </tr>
    }
    </tbody>
</table>

